application/logs/*
node_modules
application/config/session/*
package.json
package-lock.json
dummy.txt
newpages/*
assets/instrument_files/*
application/config/config.php
application/config/database.php