application/logs/*
node_modules
application/config/session/*
adminpanel/application/config/session/*
package.json
package-lock.json
dummy.txt
newpages/*
assets/instrument_files/*
assets/social_user_profile_image/*
assets/social_user_company_logo/*
application/config/config.php
application/config/database.php
/nbproject/private/
application/config/session